<div class="container bg-body-tertiary mt-5 p-5" style="border-radius: 20px;">
    <form #createUser='ngForm' (ngSubmit)="submit(createUser.value)">
        <p id="logo" style="text-align: center;">INSCRIPTION</p>
        <div class="mb-3">
            <label for="InputFirstName" class="form-label">Nom</label>
            <input type="text" class="form-control" id="InputName" placeholder="Jim" name="nom" ngModel>
        </div>
        <div class="mb-3">
            <label for="InputLastName" class="form-label">Prenom</label>
            <input type="text" class="form-control" id="InputName" placeholder="Johnson" name="prenom" ngModel>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="InputAge" class="form-label">Age</label>
                <input type="number" class="form-control" id="InputAge" name="age" ngModel>
            </div>
            <div class="mb-3 col-6">
                <label for="InputWeight" class="form-label">Poids</label>
                <input type="number" class="form-control" id="InputAge" name="poids" ngModel>
            </div>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
            <input type="email" class="form-control" id="InputEmail" name="email" ngModel aria-describedby="emailHelp"
                placeholder="fit@exemple.fr">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mots de passe</label>
            <input type="password" class="form-control" id="InputPassword" name="password" ngModel placeholder="*******">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>