<div class="container bg-body-tertiary mt-5 p-5" style="border-radius: 20px;">
    <form #updateProgramme='ngForm' (ngSubmit)="submit(updateProgramme.value)">
        <p id="logo" style="text-align: center;">MODIFIER UN PROGRAMME</p>
        <div *ngIf="programmeInfo">
            <div class="mb-3">
                <label for="InputFirstName" class="form-label">Nom exercice</label>
                <input type="text" class="form-control" id="InputName" name="nom_programme"
                    [(ngModel)]="programmeInfo.nom_programme" required>
            </div>
            <div class="mb-3">
                <label for="InputLastName" class="form-label">Lien Image</label>
                <input type="url" class="form-control" id="InputName" name="image" [(ngModel)]="programmeInfo.image"
                    required>
            </div>
            <div class="dropdown m-5">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Select Options
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li *ngFor="let exercice of exercices">
                        <a class="dropdown-item d-flex align-items-center">
                            <img [src]="exercice.image" class="option-image me-2" alt="Option Image">
                            <input type="checkbox" [checked]="exercice.selected" (change)="onSelectionChange(exercice)"
                                name="exercices" ngModel />
                            <span class="ms-2">{{ exercice.nom_exercice }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>