<div class="container bg-body-tertiary mt-5 p-5" style="border-radius: 20px;">
    <div class="row">
        <h1 id="logo" class="col-10">Listes des programmes</h1>
    </div>
    <div class="row">
        <div *ngFor="let programme of programmes" class="col-md-4 mb-4">
            <div class="card cardExercice" style="margin: 5px;" (click)="navigateToDetail(programme)">
                <img [src]="programme.image ? programme.image : 'assets/img/program.jpg'" class="card-img-top m-2"
                    alt="Program image" style="width: 95%;">
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-6" id="titleCard">{{ programme.nom_programme }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>