<div class="container bg-body-tertiary mt-5 p-5" style="border-radius: 20px;">
  <div class="row">
    <div class="col-4">
      <img class="imageHome" src="assets/img/accueil.jpg" style="width: 18rem;">
    </div>
    <div class="col-xl-8">
      <p class="card-title" id="titleHome">FITNEST</p>
      <p style="font-size: 25px;">Avec le créateur d'entraînements, votre coach peut facilement créer le plan
        d'entraînement
        que vous convient. Le plan d'entraînement crée pour vous vous montre comment les exercices sont effectués et
        quels
        groupes musculaires ils sollicitent. Le plan d'entraînement personnalisé que vous avez conçu avec le générateur
        est automatiquement sauvegardé dans votre profil. De cette façon, lorsque vous allez vous entraîner, vous pouvez
        ouvrir votre page de profil et suivre le plan d'entraînement que vous avez enregistré.</p>
    </div>
  </div>
</div>